<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="InteligentDimmerMobile.InteligentDimmerMobile" android:versionCode="1" android:versionName="1.0" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="Dimmer" android:icon="@drawable/sun"></application>
</manifest>